body,
html {
    height: 100%;
    margin: 0;
}

body {
    /* background: antiquewhite; */
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    /* content: "";*/
    /* position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; */
}

.App {
    text-align: center;
}

body {
    height: 100%;
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    /* filter: gray; */
    /* IE6-9 */
    /* -webkit-filter: grayscale(1); */
    /* Google Chrome, Safari 6+ & Opera 15+ */
    /* filter: grayscale(1); */
    /* Microsoft Edge and Firefox 35+ */
}

.weather-container {
    margin-top: 20px;
    padding: 0px 20px 20px 20px;
}

.weather-container .title {
    font-size: 4rem;
}